<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===========================
    THEME INFO
    =========================== -->
    <meta name="description" content="Voici mon cv en application web, fait avec Ruby on Rails et déployé avec Heroku.">
    <meta name="author" content="Lise Chambers">
    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>Mon CV</title>
    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- ===========================
    FONTS & ICONS

    =========================== -->
    <link href='//fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="translator_260"><noscript>Javascript is disable - <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a> - <a href="http://www.supportduweb.com/generateur-boutons-traduction-translation-google-gratuit-html-code=script-boutons-traduire-page-web.html">Générateur de boutons de traduction</a></noscript></div><script type="text/javascript" src="http://services.supportduweb.com/translator/260-3-ynnnnnnnn.js"></script>
    <!-- TRADUCTION VIA GOOGLE -->
    <!-- http://www.editeurjavascript.com/scripts/scripts_autres_3_773.php -->
    <form action="http://translate.google.com/translate">
        <input type="hidden" name="hl" value="fr">
        <input type="hidden" name="ie" value="UTF8">
        <input type="hidden" name="oe" value="UTF8">
        <input type="hidden" name="prev" value="/language_tools">
        <script type="text/javascript">
        document.write('<input type="hidden" name="u" value="' + document.location.href + '">');
        </script>
        Traduire cette page de Français à <select name="langpair" size="1">
            <option value="fr|en" selected>Anglais</option>
            <option value="fr|de">Allemand</option>
            <option value="fr|es">Espagnol</option>
        </select> <input type="submit" value="Traduire" />
    </form>
    <!-- TRADUCTION VIA GOOGLE --><noscript><a href="http://www.editeurjavascript.com/">ajax</a></noscript>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            <div class="col-sm-2">
                <img class="propic" src="https://nsa39.casimages.com/img/2018/12/25/mini_181225040709660642.jpg" alt="">
            </div>
                <!-- photo end-->
                <div class="col-sm-10">
                    <div class="cv-title">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1>Lise Chambers</h1>
                            </div>
                        </div>
                        <h2>Étudiante Miagiste</h2>
                    </div>
                    <!-- Title end-->
                    <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                    <div class="row">
                        <div class="info">
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a><span class="social fa fa-home"></span>94 bd de la Marquette, Toulouse</a>
                                    </li>
                                    <li><a><span class="social fa fa-phone"></span>+336 95 38 03 40</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 1st col end-->
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a href="mailto:lise.chambers31@gmail.com"><span class="social fa fa-envelope-o"></span>lise.chambers31@gmail.com</a>
                                    </li>
                                    <li><a><span class="social fa fa-birthday-cake"></span>07.04.1997 (21 ans)</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 2nd col end-->
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a href="https://www.linkedin.com/in/lise-chambers-2b774016b/"><span class="social fa fa-linkedin"></span>Linkedin</a>
                                    </li>
                                    <li><a href="https://github.com/LiseChbrs"><span class="social fa fa-github"> Github</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 3th col end -->
                        </div>
                        <!-- info end -->
                    </div>
                    <!-- header social end-->
                </div>
                <!-- header right end-->
            </div>
            <!-- header end-->
            <hr class="firsthr">
            <!-- ===========================
        BODY LEFT PART
        ============================ -->
            <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11">
                    <h3>Déclaration personnelle </h3>
                    <br>
                    <blockquote id=citation><em>« Celui qui ne progresse pas chaque jour, recule chaque jour » - Confucius</em></blockquote>
                    <br>
                    <p>Cela fait maintenant quelques années que j'essaye, chaque jour, d'appliquer au mieux ce message. J'estime qu'il ne faut jamais s'arrêter d'apprendre, car de là croît notre évolution personnelle et celle du monde qui nous entoure. J'aime vivre ma vie de la façon la plus complète possible et ne cesserai jamais de travailler pour obtenir ce que j'ambitionne. J'ai commencé à me plaire dans l'informatique très récemment et j'ai déjà beaucoup appris. Les nouvelles technologies sont pour moi passionnantes et j'ai confiance dans le fait qu'utilisé à bon escient, elles peuvent rendre le monde meilleur. En tant que passionnée et en constant apprentissage, j'aimerais moi aussi, poser ma pierre à l'édifice d'un monde qui évolue avec la technologie.</p>
                    <p class="signature">LiseChambers</p>
                </div>
                <!--info end-->
            </div>
            <!--personal statement end-->
            <hr>
            <div class="col-md-8 mainleft">
                <div id="education" class="row mobmid">
                    <div class="col-sm-1">
                        <span class="secicon fa fa-graduation-cap"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11">
                        <h3>Education &amp; Formations</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>M1 et M2 MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises) - spécialité Ingénierie des Processus Métier</h4>
                                <p class="sub"><a href="http://miage.ut-capitole.fr/">Miage UT Capitole</a>
                                </p>
                                <p>Master double compétence en gestion (comptabilité, management de projet) et en informatique. Au programme, base de données, système d'information, gestion des processus et informatique décisionnelle.</p>
                            </div>
                            <div class="year col-md-3">
                                <p>2018-2020</p>
                            </div>
                        </div>
                        <!--Education & Certification 1 end-->
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Formation bootcamp en programmation orientée web</h4>
                                <p class="sub"><a href="https://www.thehackingproject.org/">The Hacking Project</a>
                                </p>
                                <p>Bootcamp au rythme intensif, 10h par jour pendant 2 mois. J'ai appris à utiliser HTML, CSS, Ruby, Ruby on Rails et JavaScript (avec JQuery).</p>
                            </div>
                            <div class="year col-md-3">
                                <p>Été 2018</p>
                            </div>
                        </div>
                        <!--Education & Certification 2 end -->
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Licence AES (Administration Economique et Sociale) - parcours Administration et Gestion des Entreprises</h4>
                                <p class="sub"><a href="http://www.ut-capitole.fr/">Université Toulouse Capitole</a>
                                </p>
                                <p>Licence généraliste qui m'a apporté des bases solides dans des domaines diversifiés (droit, économie, gestion).</p>
                            </div>
                            <div class="year col-md-3">
                                <p>2015-2018</p>
                            </div>
                        </div>
                        <!--Education & Certification 3 end-->
                    </div>
                    <!--Education & Certifications end-->
                </div>
                <!--Education & Certifications end-->
                <hr>
                <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
                <div id="job" class="row mobmid">
                    <div class="col-sm-1">
                        <span class="secicon fa fa-briefcase"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11">
                        <h3>Expériences professionnelles</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Chargée de communication (stage)</h4>
                                <p class="sub"><a href="https://www.feelobject.fr/">Feelobject3D</a>
                                </p>
                                <p>Première expérience qui m'a fait découvrir le monde professionnel.<br>
                                    -Mission principale : établir la feuille de route de communication<br>
                                    -Créations de contenus originaux (infographies)<br>
                                    -Animation des réseaux sociaux</p>
                            </div>
                            <div class="year col-md-3">
                                <p>Été 2017</p>
                            </div>
                        </div>
                        <!--Job 1 end-->
                    </div>
                    <!--Job experiences end-->
                </div>
                <!--Job experiences end-->
            </div>
            <!--left end-->
            <!-- ===========================
        SIDEBAR
        =========================== -->
            <div class="col-md-4 mainright">
                <div class="row">
                    <div class="col-sm-1 col-md-2 mobmid">
                        <span class="secicon fa fa-magic"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11 col-md-10">
                        <h3 class="mobmid">Compétences</h3>
                        <div class="competences">
                            <p>Système d'exploitation Linux (ubuntu)</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Programmation web (HTML 5, CSS3, Javascript)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Programmation orientée objet (Ruby, VB.net, Php)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Gestion des processus métiers</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                <span class="sr-only">55% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>SAP / ERP</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>SQL</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>SGBD Oracle</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Anglais</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                    </div>
                    <!--info end-->
                </div>
                <!--tech skills end-->
                <hr>
                <div class="row mobmid">
                    <div class="col-sm-1 col-md-2">
                        <span class="secicon fa fa-heart-o"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11 col-md-10 ">
                        <h3>Intérêts & Hobbies</h3>
                        <div class="hobbies">
                            <p>Sport (escrime)</p>
                            <p>Musique (rock, électro)</p>
                            <p>Voyages</p>
                            <p>Art contemporain</p>
                        </div>
                        <!--list of interests end-->
                    </div>
                    <!--intesrests end-->
                </div>
                <!--intesrests end-->
            </div>
            <!--right end-->
        </div>
        <!--container end-->
        <!-- ===========================
    FOOTER
    =========================== -->
        <footer class="text-center">
            <p>Fait avec <span class="social fa fa-heart"></span>en 2018
                <br>Site en CSS responsive, déployé en production avec Heroku
                <br>Voir <a href="https://github.com/LiseChbrs/Mycv">ici</a> mon repos sur <span class="social fa fa-Github">Github.</span>
            </p>
        </footer>
</body>

</html>