<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===========================
    THEME INFO
    =========================== -->
    <meta name="description" content="CVstrap is another Free minimal CV HTML theme by EvenFly built with Bootstrap 3.3.0. and released under CC-3.0 license.">
    <meta name="keywords" content="curriculum vitae, cv, one page, onepage, bootstrap, responsive, resume, timeline, free cv">
    <meta name="author" content="Mamun Srizon">
    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>Mon CV</title>
    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-iphone.png" />
    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- ===========================
    FONTS & ICONS
    =========================== -->
    <link href='//fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            <div class="col-sm-2">
                <img class="propic" src="https://zupimages.net/up/18/35/gff5.jpg" alt="">
            </div>
            <!-- photo end-->
            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>Lise Chambers</h1>
                        </div>
                    </div>
                    <h2>Étudiante</h2>
                </div>
                <!-- Title end-->
                <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a><span class="social fa fa-home"></span>95 bd de la Marquette, Toulouse</a>
                            </li>
                            <li><a><span class="social fa fa-phone"></span>+336 95 38 03 40</a>
                            </li>
                            <li><a><span class="social fa fa-envelope-o"></span>lise.chambers31@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- social 1st col end-->
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a><span class="social fa fa-globe"></span>Nationalité franco-britannique</a>
                            </li>
                            <li><a><span class="social fa fa-birthday-cake"></span>07.04.1997 (21 ans)</a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/lise-chambers-2b774016b/"><span class="social fa fa-linkedin"></span>Linkedin</a>
                            </li>
                        </ul>
                    </div>
                    <!-- social 2nd col end-->
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a><span class="social fa fa-car"></span>Permis B, véhicule assuré</a>
                            </li>
                            <li><a href="https://github.com/LiseChbrs"><span class="social fa fa-github"> Github</span></a>
                            </li>
                            <li><a href="https://www.viadeo.com/p/002jywka3flo87l"><span class="social fa fa-group"></span>Viadeo</a>
                            </li>
                        </ul>
                    </div>
                    <!-- social 3th col end -->
                </div>
                <!-- header social end-->
            </div>
            <!-- header right end-->
        </div>
        <!-- header end-->
        <hr class="firsthr">
        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div id="statement" class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-user"></span>
            </div>
            <!--icon end-->
            <div class="col-sm-11">
                <h3>Déclaration personnelle </h3>
                <br>
                <blockquote id=citation><em>« Vis comme si tu devais mourir demain, apprends comme si tu devais vivre toujours »</em></blockquote>
                <br>
                <p>Cela fait maintenant quelques années que j'essaye, chaque jour, d'appliquer au mieux ce message. J'estime qu'il ne faut jamais s'arrêter d'apprendre, car de là croît notre évolution personnelle et celle du monde qui nous entoure. J'aime vivre ma vie de la façon la plus complète possible et ne cesserai jamais de travailler pour obtenir ce que j'ambitionne. J'ai commencé à me plaire dans l'informatique très récemment et j'ai déjà beaucoup appris. Les nouvelles technologies sont pour moi passionnantes et j'ai confiance dans le fait qu'utilisée à bon escient, elles peuvent rendre le monde meilleur. En tant que passionnée et en constante apprentissage, j'aimerai moi aussi, poser ma pierre à l'édifice d'un monde qui évolue avec la technologie.</p>
                <p class="signature">LiseChambers</p>
            </div>
            <!--info end-->
        </div>
        <!--personal statement end-->
        <hr>
        <div class="col-md-8 mainleft">
            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11">
                    <h3>Education &amp; Formations</h3>
                    <br>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>M2 MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises) - parcours Ingénierie des Processus Métier</h4>
                            <p class="sub"><a href="http://miage.ut-capitole.fr/">Miage UT Capitole</a>
                            </p>
                            <p>Approfondissement des connaissances en système d'information, développement logiciels et manipulation de données.</p>
                        </div>
                        <div class="year col-md-3">
                            <p>2019-2020</p>
                        </div>
                    </div>
                    <!--Education & Certification 1 end-->
                    <hr>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>M1 MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises) - parcours Ingénierie Métier</h4>
                            <p class="sub"><a href="http://miage.ut-capitole.fr/">Miage UT Capitole</a>
                            </p>
                            <p>Master double compétence en gestion (comptabilité, management de projet) et en informatique. Au programme, base de données, système d'information, gestion des processus et informatique décisionnelle.</p>
                        </div>
                        <div class="year col-md-3">
                            <p>2018-2019</p>
                        </div>
                    </div>
                    <!--Education & Certification 2 end-->
                    <hr>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Formation bootcamp en programmation orientée web</h4>
                            <p class="sub"><a href="https://www.thehackingproject.org/">The Hacking Project</a>
                            </p>
                            <p>Bootcamp au rythme intensif, 10h par jour pendant 2 mois. J'ai appris à utiliser HTML, CSS, Ruby, Ruby on Rails et JavaScript (avec JQuery).</p>
                        </div>
                        <div class="year col-md-3">
                            <p>Été 2018</p>
                        </div>
                    </div>
                    <!--Complementary Edcation end -->
                    <hr>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Licence AES (Administration Economique et Sociale) - parcours Administration et Gestion des Entreprises</h4>
                            <p class="sub"><a href="http://www.ut-capitole.fr/">Université Toulouse Capitole</a>
                            </p>
                            <p>Licence généraliste qui m'a apporté des bases solides dans des domaines diversifiés (droit, économie, gestion).</p>
                        </div>
                        <div class="year col-md-3">
                            <p>2015-2018</p>
                        </div>
                    </div>
                    <!--Education & Certification 3 end-->
                </div>
            </div>
            <!--Education & Certifications end-->
            <hr>
            <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
            <div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-briefcase"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11">
                    <h3>Expériences professionnelles</h3>
                    <br>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Chargée de communication (stage)</h4>
                            <p class="sub"><a href="https://www.feelobject.fr/">Feelobject</a>
                            </p>
                            <p>Première expérience qui m'a fait découvrir le monde professionnel. J'ai beaucoup appris durant mon stage grâce à l'environnement cloisonné d'une start-up. Mes employeurs ont été très présent dans mon apprentissage et m'ont donné comme tâche d'établir la feuille de route de communication de leur entreprise, sur les réseaux sociaux.</p>
                        </div>
                        <div class="year col-md-3">
                            <p>Été 2017</p>
                        </div>
                    </div>
                    <!--Job 1 end-->
                </div>
                <!--Job experiences end-->
            </div>
            <!--Job experiences end-->
        </div>
        <!--left end-->
        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-magic"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid">Compétences</h3>
                    <div class="competences">
                        <p>Système d'exploitation Linux (ubuntu)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>HTML 5 & CSS 3</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>JavaScript & JQuery</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>Ruby</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                            <span class="sr-only">55% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>Ruby on Rails</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>MySQL, SQlite3, Access</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>Gestion (comptabilité générale et analytique)</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>Anglais</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div>
                    <!--skill end-->
                    <p>Espagnol</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                </div>
                <!--info end-->
            </div>
            <div class="espace"></div>
            <!--tech skills end-->
            <div class="row mobmid">
                <div class="col-sm-1 col-md-2">
                    <span class="secicon fa fa-heart-o"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11 col-md-10 ">
                    <h3>Intérêts & Hobbies</h3>
                    <div class="hobbies">
                        <p>Sport (escrime)</p>
                        <p>Musique (rock, électro)</p>
                        <p>Voyages</p>
                        <p>Art contemporain</p>
                    </div>
                    <!--list of interests end-->
                </div>
                <!--intesrests end-->
            </div>
        </div>
        <!--right end-->
    </div>
    <!--container end-->
    <!-- ===========================
    FOOTER
    =========================== -->
    <footer class="text-center">
        <p>Fait avec <span class="social fa fa-heart"></span>en 2018. Voir <a href="https://github.com/LiseChbrs/Mycv">ici</a> mon repos sur <span class="social fa fa-Github">Github.</span>
        </p>
    </footer>
    <!--necessary scripts and plugins-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/evenfly.js"></script>
</body>

</html>