<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===========================
    THEME INFO
    =========================== -->
    <meta name="description" content="Voici mon cv en application web, fait avec Ruby on Rails et déployé avec Heroku.">
    <meta name="author" content="Lise Chambers">
    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>Mon CV</title>
    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- ===========================
    FONTS & ICONS

    =========================== -->
    <link href='//fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            <div class="col-sm-2">
                <img class="propic" src="https://nsa39.casimages.com/img/2018/12/25/mini_181225040709660642.jpg" alt="">
            </div>
                <!-- photo end-->
                <div class="col-sm-10">
                    <div class="cv-title">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1>Lise Chambers</h1>
                            </div>
                        </div>
                        <h2>IT Student</h2>
                    </div>
                    <!-- Title end-->
                    <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                    <div class="row">
                        <div class="info">
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a><span class="social fa fa-home"></span>94 bd de la Marquette, Toulouse</a>
                                    </li>
                                    <li><a><span class="social fa fa-phone"></span>+336 95 38 03 40</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 1st col end-->
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a href="mailto:lise.chambers31@gmail.com"><span class="social fa fa-envelope-o"></span>lise.chambers31@gmail.com</a>
                                    </li>
                                    <li><a><span class="social fa fa-birthday-cake"></span>07.04.1997 (21 years old)</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 2nd col end-->
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><a href="https://www.linkedin.com/in/lise-chambers-2b774016b/" target="_blank"><span class="social fa fa-linkedin"></span>Linkedin</a>
                                    </li>
                                    <li><a href="https://github.com/LiseChbrs" target="_blank"><span class="social fa fa-github"> Github</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social 3th col end -->
                        </div>
                        <!-- info end -->
                    </div>
                    <!-- header social end-->
                </div>
                <!-- header right end-->
            </div>
            <!-- header end-->
            <hr class="firsthr">
            <!-- ===========================
        BODY LEFT PART
        ============================ -->
            <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11">
                    <h3>Personnal Statement </h3>
                    <br>
                    <blockquote id=citation><em>« The one who does not progress every day, recedes every day » - Confucius</em></blockquote>
                    <br>
                    <p>It's been a few years now that I try, every day, to apply this message to the best of my ability. I think we should never stop learning, for our personal evolution. I like to live in the most complete way possible and will never stop working to get what I want. I started to like computer science very recently and I already learned a lot. New technologies are exciting to me and I believe that if used wisely, they can make the world a better place. As long as I am passionate, I would also like to contribute for a world evolving with technology.</p>
                    <p class="signature">LiseChambers</p>
                </div>
                <!--info end-->
            </div>
            <!--personal statement end-->
            <hr>
            <div class="col-md-8 mainleft">
                <div id="education" class="row mobmid">
                    <div class="col-sm-1">
                        <span class="secicon fa fa-graduation-cap"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11">
                        <h3>Education &amp; Training</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>M1 et M2 MIAGE (Computer Science Applied to Business Management) - Speciality in Business process Engineering</h4>
                                <p class="sub"><a href="http://miage.ut-capitole.fr/" target="_blank">Miage UT Capitole</a>
                                </p>
                                <p>Master's degree in management (accounting, project management) and computer science. Database, information system, process management and business intelligence.</p>
                            </div>
                            <div class="year col-md-3">
                                <p>2018-2020</p>
                            </div>
                        </div>
                        <!--Education & Certification 1 end-->
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Bootcamp training in web-oriented programming</h4>
                                <p class="sub"><a href="https://www.thehackingproject.org/" target="_blank">The Hacking Project</a>
                                </p>
                                <p>Bootcamp at intensive pace, 10 hours a day for 2 months. I learned to use HTML, CSS, Ruby, Ruby on Rails and JavaScript (with JQuery).</p>
                            </div>
                            <div class="year col-md-3">
                                <p>Summer 2018</p>
                            </div>
                        </div>
                        <!--Education & Certification 2 end -->
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>AES degree (Economic and Social Administration) - Speciality in Administration and Business Management</h4>
                                <p class="sub"><a href="http://www.ut-capitole.fr/" target="_blank">Université Toulouse Capitole</a>
                                </p>
                                <p>Generalist degree that has given me a solid foundation in diverse fields (law, economics, management)</p>
                            </div>
                            <div class="year col-md-3">
                                <p>2015-2018</p>
                            </div>
                        </div>
                        <!--Education & Certification 3 end-->
                    </div>
                    <!--Education & Certifications end-->
                </div>
                <!--Education & Certifications end-->
                <hr>
                <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
                <div id="job" class="row mobmid">
                    <div class="col-sm-1">
                        <span class="secicon fa fa-briefcase"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11">
                        <h3>Professional Experiences</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Community Manager (internship)</h4>
                                <p class="sub"><a href="https://www.feelobject.fr/" target="_blank">Feelobject3D</a>
                                </p>
                                <p>First experience that made me discover the professional world<br>
                                    -Main task: establish the communication roadmap<br>
                                    -Creations of original contents (infographics)<br>
                                    -Animation of social networks</p>
                            </div>
                            <div class="year col-md-3">
                                <p>Summer 2017</p>
                            </div>
                        </div>
                        <!--Job 1 end-->
                    </div>
                    <!--Job experiences end-->
                </div>
                <!--Job experiences end-->
            </div>
            <!--left end-->
            <!-- ===========================
        SIDEBAR
        =========================== -->
            <div class="col-md-4 mainright">
                <div class="row">
                    <div class="col-sm-1 col-md-2 mobmid">
                        <span class="secicon fa fa-magic"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11 col-md-10">
                        <h3 class="mobmid">Skills</h3>
                        <div class="competences">
                            <p>Linux operating system (ubuntu)</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Web programming (HTML 5, CSS3, Javascript)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Object-Oriented Programming (Ruby, VB.net, Php)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Business Process Management</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                <span class="sr-only">55% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>SAP / ERP</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>SQL</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>Oracle DBMS</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                        <p>English</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <!--skill end-->
                    </div>
                    <!--info end-->
                </div>
                <!--tech skills end-->
                <hr>
                <div class="row mobmid">
                    <div class="col-sm-1 col-md-2">
                        <span class="secicon fa fa-heart-o"></span>
                    </div>
                    <!--icon end-->
                    <div class="col-sm-11 col-md-10 ">
                        <h3>Interests & Hobbies</h3>
                        <div class="hobbies">
                            <p>Sport (fencing)</p>
                            <p>Music (rock, électro)</p>
                            <p>Traveling</p>
                            <p>Contemporary art</p>
                        </div>
                        <!--list of interests end-->
                    </div>
                    <!--intesrests end-->
                </div>
                <!--intesrests end-->
            </div>
            <!--right end-->
        </div>
        <!--container end-->
        <!-- ===========================
    FOOTER
    =========================== -->
        <footer class="text-center">
            <p>Made with <span class="social fa fa-heart"></span>in 2018
                <br>Responsive website, deployed in production with Heroku
                <br>See <a href="https://github.com/LiseChbrs/Mycv" target="_blank">here</a> my work on <span class="social fa fa-Github">Github.</span>
            </p>
        </footer>
</body>

</html>